/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --background-color:#fbfbed;
    --font-color:#000000;
    --title-color:#0d2e3d;
    --title-color-alt:#db3e3d;
    --link-color:#eda12c;
    --card-link-color: #a29eb1;
    --card-link-color2:#efa7a7;
    --title-font:'Oswald', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --main-font-size: 16px;
    --main-font-weight:400;
    --cover-font-size:23px;
    --h2-font-size:33px;
    --h3-font-size: 22px;
    
}

body {
    background-color: var(--background-color);
    line-height: 1.15;
    font-family: var(--main-font);
    margin-left: auto;
    margin-right: auto;

}

body.otherpage article{
    max-width: 1000px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;

}

/**index page**/

header{
     margin-top: 30px;
     

}
header div.container{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    place-content: center;
    margin-left: auto;
    margin-right: auto;
    background-image:url("/images/skyline-02.png"); 
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    padding-top: 50px;



}


img#logo{
    width: 300px;
    padding-right: 10px;

}



header h1{
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 50px;
    margin: 0;
    max-width: 600px;
    text-align: center;

}

header p {
    text-align: center;
    background-color: var(--link-color);
    border-radius: 20px;
    padding: 1rem;



}

header p a{
    color: var(--font-color);
    text-decoration: none;
    font-size: var(--cover-font-size);
    white-space: nowrap;
    font-weight: 500;
}

/*nav*/
nav{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    margin-bottom: 5em;
    padding-left: 0;


}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 25px;
    justify-content: space-around;
    padding-left: 0;
}

nav ul li{
    font-size: var(--cover-font-size);
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-family: var(--title-font);
}

nav ul li a:hover{
    color: var(--link-color);
}
/*
footer p{
    font-family: var(--title-font);
    color: var(--title-color-alt);
    text-align: center;
}
*/

/*generator*/
nav.otherpage{
    margin: bottom 2em;
    text-align: center;
}
article.recommedations{
    display: none;
}


h2{
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    color: var(--title-color-alt);
}
p{
    font-size: var(--main-font-size);
}

legend{
    font-weight: 500;
    font-family: var(--title-font);
    color: var(--title-color);
    font-size:var(--h3-font-size);
}

div.questions{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    border: none;
    padding: 2em;
    border-radius: 5px;
    margin-bottom: 40px;

}

div.question_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}
div.btn{
    grid-column: 1/span 2;
    display: inline-flex;
    justify-content: space-around;
    gap: 30px;


}

button.next, button.back{
    border: none;
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    background-color: transparent;
    margin-top: 10px;
}



input[type=checkbox],input[type=radio]{
    display: none;
}

label {
    display: inline-block;
    position: relative;
    margin: 0.2em 2em;
    padding-left: 2em;
    cursor: pointer;
}

label::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    left: 0;
    top:0;
    background-color: white;
    border: 2px solid var(--link-color);
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--link-color); 

  }

input[type="radio"]:checked + label::before {
    background-color: var(--link-color); 

  }

div.description{
    margin-top: 5rem;
}
  

/**Resources**/

ul.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding-left: 0;

}

li.cardcontent{
    list-style: none;
    display:flex;
    flex-grow: 1;
    align-items: center;
    transition: 0.3s ease-in-out;
}

li.cardcontent a{
    text-decoration: none;

}
li.cardcontent:hover{
    transform: scale(1.03, 1.03);
}

div.card_container{
    background-color: var(--title-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    vertical-align: top;

}

@media screen and (max-width:620px) {
    div.card_container{
        min-width:470px;
    }
    div.large_container{
        display: grid;
        place-content: center;
    }
}

div.card_container h3{
    color: white;
    padding: 1rem;
}

img.card{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}

/*
button.readmore{

    border-radius: 20px;
    padding: 0.5rem;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    margin-bottom: 10px;
    width: 90%;

}
*/

