/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --background-color:#fbfbed;
    --font-color:#000000;
    --title-color:#0d2e3d;
    --title-color-alt:#db3e3d;
    --link-color:#eda12c;
    --card-link-color: #a29eb1;
    --card-link-color2:#efa7a7;
    --title-font:'Oswald', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --main-font-size: 16px;
    --main-font-weight:400;
    --cover-font-size:23px;
    --h2-font-size:33px;
    --h3-font-size: 22px;
    
}

body {
    background-color: var(--background-color);
    line-height: 1.5;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    margin:0;

}

main{
    padding: 1rem;
    padding-top: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/**index page**/
p{
    font-size: var(--main-font-size);
}

header div.container{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    place-content: center;
    background-image:url('../images/skyline-02.png'); 
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    animation: slide-background 20s infinite linear;
    overflow: hidden;

}

@keyframes slide-background {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 1700px 0;
    }
  }


img#logo{
    width: 300px;
    padding-right: 15px;

}



header h1{
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 50px;
    margin: 0;
    max-width: 630px;
    text-align: center;

}

header p {
    text-align: center;
    background-color: var(--link-color);
    border-radius: 15px;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

header p:hover{
    transform: scale(1.03, 1.03);
}

header p a{
    color: var(--font-color);
    text-decoration: none;
    font-size: var(--cover-font-size);
    white-space: nowrap;
    font-weight: 500;
}

@media screen and (max-width:550px) {
    header h1{
        font-size: 40px;
        max-width: 400px;
    }

    header p{
        font: size 12px;
    }

    img#logo{
        width: 200px;
    }

    header div.container{
        gap:30px;
    }

}

/*nav*/

nav{
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index:2;
    background-color: var(--background-color);
    padding: 0.2rem 2rem;
    display:flex;
    border-bottom: 1px solid var(--title-color-alt);
    justify-content: space-between;
    align-items: center;
}

div.navicon{
    padding:1vh 1vw;
}

img.nav{
    height:100%;
}

nav ul{
    display: flex;
    font-size: var(--h3-font-size);
    padding-left: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin:0;


}

nav ul li{
    font-size: var(--cover-font-size);
    margin-right: 2rem;
    list-style: none;

}

nav ul li:last-child{
    margin-right: 0;

}

nav ul li a{
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-family: var(--title-font);
}

nav ul li a:hover{
    color: var(--link-color)
}

img.nav{
    width: 50px;

}


.hamburger div{
    width: 30px;
    height:3px;
    background-color: var(--title-color-alt);
    margin: 5px;

}
.hamburger{
    display: none;
}

@media screen and (max-width: 688px) {

    .hamburger{
      display: block;
      cursor: pointer;
    }
  
    nav ul{
      display:none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: var(--title-color-alt);
      padding: 1rem;
      text-align: center;
    }

    nav ul li a{
        color: white;
    }

    nav ul li a:hover{
        color: var(--title-color);
    }
  

    nav ul li{
      margin: 1rem 0;
    }
  
    nav ul.show{
      display:flex;
    }
  
  }

  
/*
footer p{
    font-family: var(--title-font);
    color: var(--title-color-alt);
    text-align: center;
}
*/
h2{
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    color: var(--title-color-alt);
    margin-top:0;
}


/*generator*/
@media screen and (max-width:550px){
    legend.qtitle{
        font-size: 20px;
    }

    div.questionnarire{
        gap:7px;
    }

    
}

h2.recommendations{
    text-align: center;
}

p{
    font-size: var(--main-font-size);
}

legend{
    font-weight: 500;
    font-family: var(--title-font);
    color: var(--title-color-alt);
    font-size:var(--h2-font-size);
    text-align: center;


}

div.questionnarire{
    display: grid;
    place-content: center;
    margin:0;
    padding: 0;
    height: 85vh;
}

fieldset{
    padding: 2rem;
    border: 1px solid var(--title-color-alt);
    max-width: 700px;


}

fieldset:first-child{
    border:none;

}

fieldset:first-child div.btn{
    display: block;
    text-align: center;

}

button.next:first-child{
    font-size: var(--h2-font-size);
    background-color: var(--link-color);
    padding: 0.2rem 2rem;
    border-radius: 15px;
    color: var(--title-color);
}
/*
div.question_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}
*/
div.question_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

 
}

div.btn{
    display: flex;
    justify-content: center;
    gap: 15px;

}

button.next, button.back, button.submit{
    border: none;
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    background-color: transparent;
    margin-top: 1rem;
    cursor: pointer;
    color: var(--title-color-alt);
}


input[type=radio], input[type=checkbox]{
    display: none;

}


label {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 500;
    color: var(--title-color);
    font-size: var(--h3-font-size);
    text-align: center;


}

input[type="checkbox"]:checked + label{
    background-color: var(--link-color); 
    border: none;

  }

input[type="radio"]:checked + label{
    background-color: var(--link-color); 
    border: none;

  }


/*recommendations*/
h3.name{
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    color: var(--title-color-alt);

}
span.title{
    font-weight: 600;
    color: var(--title-color);
    
}
article.recommendations h2{
    text-align: center;
}

div.spotscontainer div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
    border: 1px solid var(--title-color-alt);
    padding: 1.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

article.recommendations div h3, article.recommendations div p, article.recommendations div img{
    margin: 0;
}

img.recommendations{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

h2.recommendations{
    padding-top: 0.5rem;
}

/**Resources**/
article.resources{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.description h2, div.files h2{
    text-align: center;
    margin-top: 3rem;
}


.description p{
    margin: 0;
}
ul.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    row-gap: 3rem;
    padding-left: 0;
}


li.cardcontent{
    list-style: none;
    transition: 0.3s ease-in-out;
    position:relative;
    display:grid;
    height: 200px;
}

li.cardcontent a{
    text-decoration: none;
    display:grid;
    place-content: center;


}

li.cardcontent:hover{
    transform: scale(1.03, 1.03);
}

h2.cardh3{
    color:whitesmoke;
    padding: 1rem;
    position: absolute;
    left: 0;
    top:0;
}

p.travelguide {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--title-color-alt);
    color: white;
    font-size: 16px;
    padding: 0.5rem 1rem;
  }

p.type {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--link-color);
    color: white;
    font-size: 16px;
    padding: 0.5rem 1rem;
  }

p.food {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(16, 16, 108);
    color: white;
    font-size: 16px;
    padding: 0.5rem 1rem;
  }

img.card{
    width: 100%;
    height: 110%;
    object-fit: cover;
    position: absolute;
    top:0;
    z-index: -1;

}

/*this is for project page*/
div.filecontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    align-items: center;
    margin-top: 2rem;
}

a.file{
    border: var(--title-color-alt) 1px solid;
    transition: 0.3s ease-in-out;
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    text-decoration: none;
    font-weight: 700;
    color: var(--title-color-alt);
    padding: 1rem;
    text-align: center;

}

a.file:hover{
    border: var(--title-color-alt) 1px solid;
    background-color: var(--title-color-alt);
    color:white;
    transform: scale(1.03, 1.03);

}

article.project{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;



}

div.bg{
    margin-top: 0;
    align-self: start;
}

div.bg img{
    width: 100%;

}

footer div{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding:0 16px;
}
footer{

    width:100%
}

a.inline{
    color: black
}

a.inline:hover{
    color:var(--link-color)
}
/*
@media screen and (max-width:620px) {
    div.card_container{
        min-width:470px;
    }
    div.large_container{
        display: grid;
        place-content: center;
    }
}


button.readmore{

    border-radius: 20px;
    padding: 0.5rem;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    margin-bottom: 10px;
    width: 90%;

}
*/

